.cintent_text{
    width: 100%;
    height: 500px;
    border: solid 1px #000;
    overflow: scroll;
    background-color: #ffffff;
}
.cintent_text_full {
	border: solid 1px #000;
	z-index: 80000;
	overflow: scroll;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
    margin: auto;
    background-color: #ffffff;
}
.sizes{
    cursor: pointer;
}
.panel .images{
    cursor: pointer; 
    height: 20px;
}

.contentDtext .text_block{
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.contentDtext .text{
    width: 100%;
    height: 100%;
     background-color: #ffffff;
     display: block;
}
.contentDtext .textno{
    width: 100%;
    height: 100%;
     background-color: #ffffff;
     display: none;
}
